@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jumbotron-fluid {
  background-color: rgb(1, 6, 60);
  width: 100vw;
  color: aliceblue;
  text-align: center;
}

.card {
  margin-top: 10vw;
  width: 70%;
  text-align: center;
  box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 darkgrey;
  text-align: center;
}

#explanation {
  margin-top: 5vh;
}

#picture {
  width: 100%;
  border-radius: 2rem;
  border-width: 2rem;
  margin-top: 5vh;
}

p.heart-text {
  padding: 1vh;
  font-weight: 20vh;
  background-color: rgb(1, 6, 60);
  color: aliceblue;
  border-radius: 50vw;
}

.fa-heart-o {
  margin-top: 2vh;
  color: red;
  cursor: pointer;
}

.fa-heart {
  margin-top: 3vh;
  color: red;
  cursor: pointer;
  animation: spin 1s linear 0s 1;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
